@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    -fx-background-color: #ffe6e6;
}

.text-field, .password-field {
    -fx-background-color: #fff;
    -fx-border-color: #e60000;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-padding: 8px;
}

.label {
    -fx-text-fill: #cc0000;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #e60000;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #cc0000;
}

.form-container {
    -fx-background-color: #fff;
    -fx-padding: 30px;
    -fx-border-radius: 10px;
    -fx-border-color: #e60000;
    -fx-border-width: 2px;
}

.title {
    -fx-text-fill: #cc0000;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-padding-bottom: 20px;
}

.form-container > .input-container {
    -fx-spacing: 15px;
}

.input-container {
    -fx-alignment: center;
}

.input-field {
    -fx-background-color: #fff;
    -fx-border-color: #cc0000;
    -fx-font-size: 14px;
    -fx-padding: 8px;
    -fx-border-radius: 5px;
}

.input-field:focused {
    -fx-border-color: #990000;
}

.error-message {
    -fx-text-fill: #cc0000;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding-top: 5px;
}
